@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

/* variables */
:root {
    --white: rgb(238, 238, 238);
}

/* style */
 #main {
    background-image: url("/assets/background/wallpaper-edit.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

     display: flex;
     align-items: center;
     justify-content: center;

     height: 100vh;
 }


 #player {
    width: 90%;
    max-width: 375px;

    background-color: var(--white);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;

    font-weight: bold;
 }

 .card {
    margin: 0;
    background: none;
    box-shadow: none;
 }

h4 {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;
    margin: 0 0 0 15px;

    font-size: 20px;
    font-weight: bold;
    
    background: -webkit-linear-gradient(rgb(35, 197, 197), rgb(161, 59, 187));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 .attributes {
      margin: 0 3px 0 0;
  }
 
  .card-image {
    background: url(https://placehold.it/500) center no-repeat cover;
    height: 200px;
  }

  #player audio {
      width: 100%;
      margin-top: 10px;
  }
